body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #ff6b6b, #f7b733, #6b5b95, #c06c84);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.container {
    text-align: center;
}

.content {
    text-align: center;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slightly more shadow for better contrast */
    width: 300px;
    backdrop-filter: blur(10px); /* Optional: adds a blur effect to the background behind the container */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-group input {
    width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.loading-message {
    color: #007bff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
